<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3
                class="font-semibold text-lg ">
                Tools
              </h3>

            </div>
            <button (click)="addNew()"
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">
                Add tool
          </button>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Projects table -->
          <table class="items-center w-full bg-transparent border-collapse" >
            <thead>
              <tr>
                <th
                  class="px-6 align-middle  border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  
                >
                  ID
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  
                >
                  Source 
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  
                >
                  Date
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  
                >
                  Member
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  
                ></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tool of tools">
                <th
                  class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
                >
                  <span class="ml-3 font-bold text-blueGray-600">
                    {{ tool.id }}
                  </span>
                </th>
            
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{ tool.source }}
                </td>
            
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{ tool.date | date:'yyyy-MM-dd'  }}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                {{ tool.member }}
                  View
                  <button (click)="open()">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </button>
                </td>
                <td
                  class="border-t-0 align-middle border-l-0 border-r-0 text-xs p-4 text-left"
                >
                  <app-table-dropdown (edit)="handleEdit($event, tool)"
                  (delete)="handleDelete($event, tool)"></app-table-dropdown>
                </td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  
  